<nav class="navbar">
  <ul>

    <ng-container *ngIf="!isLoggedIn">

      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/projects">Projects</a></li>
      <li><a routerLink="/about">About</a></li>

    </ng-container>

    <ng-container *ngIf="isLoggedIn">

      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/service">Services</a></li>
      <li><a routerLink="/complaint">Complaint</a></li>
      <li><a routerLink="/projects">Projects</a></li>
      <li><a routerLink="/public-news">News</a></li>
      <li><a routerLink="/events">Event</a></li>
      <li><a routerLink="/about">About</a></li>

      <li>
        <a href="#" (click)="logout()">
          Logout ({{userName}})
        </a>
      </li>

    </ng-container>

  </ul>
</nav>