<section class="services-section">

  <h1>Citizen Services</h1>
  <p class="subtitle">
    Smart civic services provided for the citizens under Navsari Municipal Administration.
  </p>

  <div class="services-grid">
    <div class="service-card highlight-card">
      <div class="icon">📄</div>
      <h3>Non-Criminal Certificate</h3>
      <p>
        Official verification certificate required for employment,
        passport, and government documentation purposes.
      </p>
      <a href="/pdf/Non_Criminal_Certificate_Application_Form.pdf"
         target="_blank"
         class="pdf-btn">
        Download Application Form
      </a>
    </div>

    <div class="service-card highlight-card">
      <div class="icon">📝</div>
      <h3>Birth Certificate</h3>
      <p>
        Apply for birth registration or obtain certified copies
        for legal and official use.
      </p>
      <a href="/pdf/Birth_Certificate_Application_Form.pdf"
         target="_blank"
         class="pdf-btn">
        Download Application Form
      </a>
    </div>

    <div class="service-card">
      <div class="icon">💼</div>
      <h3>Income Certificate</h3>
      <p>
        Income verification service required for scholarships,
        welfare schemes, and subsidy programs.
      </p>
      <button (click)="goToDetails('income')" class="view-btn">
  View Service Information
</button>

    </div>

    <div class="service-card">
      <div class="icon">🏠</div>
      <h3>Property Tax Management</h3>
      <p>
        Online property tax assessment, payment,
        receipt download, and due status checking.
      </p>
     <button (click)="goToDetails('property-tax')" class="view-btn">
  View Service Information
</button>

    </div>

    <div class="service-card">
      <div class="icon">🚰</div>
      <h3>Water Supply Services</h3>
      <p>
        Apply for new water connections, billing services,
        and municipal water infrastructure support.
      </p>
      <button (click)="goToDetails('water')" class="view-btn">
  View Service Information
</button>
    </div>

    <div class="service-card">
      <div class="icon">🏗</div>
      <h3>Building Plan Approval</h3>
      <p>
        Submit and track residential or commercial construction
        approvals as per municipal development rules.
      </p>
      <button (click)="goToDetails('building')" class="view-btn">
  View Service Information
</button>
    </div>

  </div>

</section>
